:root {
    --color-comun: #005dab;
  }

body{ 
    font-family: "Open Sans", sans-serif;
}

nav { 
    height: 50px;
    padding-top: 2px;
}
button{
    color: white;
}
a{
    color: white;
}

.bluecolor{
    background-color: var(--color-comun);;
}

.container{
    margin: 0px 90px 0px 90px !important;
}

.transparent{
    background-color: transparent;
    border: none
}

.logo{
    width: 160px;
    height: 45px;
    margin: 5px 0px 5px 7px; 
    padding: 3px 2px 5px 2px ;
}

.login-button{ 
    height: 45px;
    font-size: 14px !important; 
    padding: 0px !important;
    font-weight: 400;
}

.first-navbar-button{
    height: 48px;
    border: none;
    border-left: 1px solid #243540;
    padding: 0px 15px 0px 15px;
    font-size: 14px;
}

.shoppin-cart{
    margin: 11px 5px;
}

.badge{
    border-radius: 50% !important;
    background-color: var(--color-comun);
    color: black;
    text-align: center;
    height: 15px;
    width: 15px;
    padding: 2px !important;
}

.search-section{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent), url(/img/background-1.jpg);
    padding: 30px 0px 30px 0px;
}

.search-bar{
    margin:  10px 0px 0px 0px;
}


.second-navbar-button{
    background-color: transparent;
}